body, html{
 	 margin:0;
 }

#main-container{
	position: absolute;
	background: red;
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

#video-displays-container{
	display: flex;
	flex-direction: column;
	background: darkred;
	width: 40%;
}


#message-displays-container{
	background: beige;
	display: flex;
	flex-direction: column;
	width: 60%;
}

.video-display{
	object-fit: cover;
	width: 100%;
	height: 50%;
}

#send-message-container{
	background: green;
	margin-top: 20px;
	height: 10%;
	display: flex;
	flex-direction: row;
}


#message-box-display{
	margin: 0;
	height: 90%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}


#attach-file-bttn{
}

#send-message-bttn{
	flex-grow:  2;
}

#message-box-input{
	padding: 0;
	margin: 0;
	flex-grow: 10;
}

#end-bttn, #start-bttn, #skip-bttn{
	flex-grow: 2;
}

#end-bttn,  #skip-bttn{
	visibility: hidden;
}

#upload-file-chooser{
	display: none;
}


.message-img-display{
	object-fit: contain;
	width: 150px;
	height: 150px;
}

.message-text-display{

}